
<header>
  <mat-card class="no-padding">
    <mat-toolbar color="primary">
      <div fxLayout="row">
        <div fxFlex fxHide.gt-sm="true">
          <button  mat-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
        </div>
        <div fxFlex>
          <button mat-icon-button routerLink="/">
            <img mat-card-avatar src="../../../assets/stethoscope.png">
          </button>
        </div>
        <div fxFlex fxFlexAlign="center center">
          <button mat-button routerLink="/">
            <h1>Diagnostics</h1>
          </button>
        </div>
      </div>
      <span style="flex: 1 1 auto;"></span>
      <div *ngIf="auth.user | async; then authenticated else guest">
      </div>
      <ng-template #authenticated>
        <button mat-button routerLink="/patients">
          <mat-icon>supervisor_account</mat-icon>
          Patients
        </button>
        <button mat-button (click)="auth.signOut()">
          <mat-icon>directions_walk</mat-icon>
          Logout
        </button>
      </ng-template>
      <ng-template #guest>
        <button mat-button routerLink="/signin">
          <mat-icon>face</mat-icon>
          Sign in
        </button>
      </ng-template>
    </mat-toolbar>
    <mat-menu #menu="matMenu">
      <button mat-menu-item> Settings </button>
      <button mat-menu-item> Help </button>
    </mat-menu>
  </mat-card>
</header>
