<div class="container">
  <div fxLayout="row" fxLayoutGap="20px">
    <div fxFlex>
      <mat-card>
        <br>
        <br>
        <button mat-button (click)="auth.googleLogin()">
          Sign in with google
        </button>
        <br>
        <br>
      </mat-card>
    </div>
    <div fxFlex>
      <mat-card>
        <mat-form-field>
          <mat-select [(value)]="type">
            <mat-option value="admin">Admin</mat-option>
            <mat-option value="patient">Patient</mat-option>
            <mat-option value="doctor">Doctor</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-card-actions>
          <button mat-button (click)="auth.googleSignup(type)">
            Sign up with google
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
