<div
  parallax
  [config]="{parallaxInitVal: -100, parallaxRatio: .7}"
  class="landing-first-parallax">
  <div
    class="dark-image mat-typography"
    fxLayout="column"
    fxLayoutAlign="space-around space-around">
    <div fxFlex fxHide.sm fxHide.xs fxFlexAlign="center" style="text-align: justify;">
      <h1 class="mat-display-4 parallax-typography">Your medical record</h1>
    </div>
    <div fxFlex fxHide.gt-sm fxFlexAlign="center">
      <h1 class="mat-display-3 parallax-typography">Your medical record</h1>
    </div>
    <div fxFlex fxFlexAlign="center">
      <h2 class="mat-display-2 parallax-typography">Wherever you need it</h2>
    </div>
    <div fxFlex fxFlexAlign="center">
      <button mat-raised-button color="accent" routerLink="patients">Check it out</button>
    </div>
  </div>
</div>
<br>
<br>
<section class="mat-typography container">
  <div fxLayout="row" fxLayoutWrap fxLayoutAlign="space-around">
    <div fxFlex.gt-xs="30" fxFlex="90" class="text-center">
      <mat-icon>child_care</mat-icon>
      <h2>Easy to use</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiumdod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div fxFlex.gt-xs="30" fxFlex="90" class="text-center">
      <mat-icon>security</mat-icon>
      <h2>Secure</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiumdod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div fxFlex.gt-xs="30" fxFlex="90" class="text-center">
      <mat-icon>money_off</mat-icon>
      <h2>Free</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</section>
<mat-divider></mat-divider>
<section class="map-section mat-typography" style="text-align: center">
  <h1>Closest centers</h1>
  <agm-map [latitude]="locationService.latitude" [longitude]="locationService.longitude" [zoom]="locationService.zoom">
    <agm-marker [latitude]="locationService.latitude" [longitude]="locationService.longitude"></agm-marker>
  </agm-map>
</section>
